<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EasyCopy.Properties.Settings>
            <setting name="FormWidth" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="FormPointX" serializeAs="String">
                <value>905</value>
            </setting>
            <setting name="FormPointY" serializeAs="String">
                <value>820</value>
            </setting>
            <setting name="MessageFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="FormExitTimer" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="FormBtnHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormToMaskMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormToEasyCopyMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseKeyD_KeyF" serializeAs="String">
                <value>True</value>
            </setting>
        </EasyCopy.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
